Flask
flask-cors
flask[async]
Flask-Caching
python-telegram-bot==13.5
python-telegram-bot[passport,urllib3,socks]
python-dotenv
google-generativeai
gunicorn
ratelimit
pandas
openpyxl
matplotlib
urllib3
six
